body {
  font-family : 'Lucida Sans Unicode', 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin      : 25px;
}

.back-button {
  float : right;
}

a, a:visited {
  color : #334dff;
}

ol.problems {
  font-size : larger;
}

ol.problems > li {
  padding : 10px;
}

ol.problems > li > a {
  display : block;
}

ol.problems > li:nth-child(even) {
  background-color : #cccccc;
}

#solution {
  display : none;
}

.headline {
  background-color : #b7b7b7;
  color            : #fff;
  padding          : 2px;
}
